span.stars-0, span.stars-1, span.stars-2, span.stars-3, span.stars-4, span.stars-5, span.stars-6 {
display:block;
height:11px;
margin-top:1px;
width:59px;
}
span.stars-0 span, span.stars-1 span, span.stars-2 span, span.stars-3 span, span.stars-4 span, span.stars-5 span, span.stars-6 span, p.rating span {
display:none;
}
span.stars-0 {
background:transparent url(/rb/media/images/stars-0.png) no-repeat scroll 0 0;
}
span.stars-1 {
background:transparent url(/rb/media/images/stars-1.png) no-repeat scroll 0 0;
}
span.stars-2 {
background:transparent url(/rb/media/images/stars-2.png) no-repeat scroll 0 0;
}
span.stars-3 {
background:transparent url(/rb/media/images/stars-3.png) no-repeat scroll 0 0;
}
span.stars-4 {
background:transparent url(/rb/media/images/stars-4.png) no-repeat scroll 0 0;
}
span.stars-5 {
background:transparent url(/rb/media/images/stars-5.png) no-repeat scroll 0 0;
}
span.stars-6 {
background:transparent url(/rb/media/images/stars-6.png) no-repeat scroll 0 0;
}

td.song_text {
    font-size: small;
}
